<br>
<br>
<br>
<br>
<div class="card">
  <div class="card-header">
    <h5 class="card-title">Menu</h5>
  </div>
  <div class="card-body">
    <div class="list-group">
      <a routerLink="/admin" class="list-group-item">Index</a>
      <a routerLink="/admin/profile" class="list-group-item">Profile</a>
      <a routerLink="/admin/product-list-admin" class="list-group-item">Products</a>
      <a routerLink="/admin/category-list-admin" class="list-group-item">Categories</a>
      <a routerLink="/admin/orders-list" class="list-group-item">View Orders</a>
      <a routerLink="/admin/statistics" class="list-group-item">Statistics</a>
    </div>
  </div>
</div>

